.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
