.teams-container {
    display: flex;
    flex-wrap: wrap;
}

.team-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-card h2 {
    font-size: 20px;
    margin: 0;
}

.team-card p {
    margin: 5px 0;
}

.delete-icon {
    /*position: absolute;*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: black;
}

